body {font-family:'Roboto', sans-serif}

h1, h3, h5 {text-align: center;}

.hide {display: none}

ul#cards {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    overflow: hidden;
    li {
        border: 1px solid black;
        width: 100px;
        height: 40px;
        height:140px;
        display: block;
        float: left;
        margin: 5px;
        padding-top: 40px;
        text-align: center;
        &.card-back {background-color: green}
    }
}
.start-button, .restart-button, .continue-button {cursor: pointer}
